.app {
  text-align: center;
  margin: 2rem;
  background: #a89db37f;
  border-radius: 6px;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

.backdrop-design {
  background-image: url(/BG.png);
  background-position: left top;
  background-size: cover;
}

.main-body {
  margin-top: 50px;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 258px);
}

.undecorated-links {
  color: inherit;
  text-decoration: none;
}

.undecorated-links p {
  padding: 10px 20px 10px 20px;
}

.iconbutton button {
  border-radius: 0;
}

#app-bar {
  background-color: #2d323fd4;
  color: white;
}

#app-logo {
  width: 150px;
}

#app-logo-header {
  width: 60px;
}

#right-anchored-menu-item {
  margin-right: 0px;
  margin-left: auto;
}

.new-user-body {
  background-color: black; 
}

.dropdown-arrow-icon {
  margin-top: 20px;
  outline:0
}

/* Disables error stacktrace from showing up in dev mode. */
iframe
{
    display: none;
}
