.popup-modal {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    align-items: center;
    justify-content: center;
    box-shadow: 5px;
    padding: 20px 20px 20px 20px;
    margin: auto;
    max-height: 460px;
    height: 460px;
    min-height: 400px;
}

.nf-button {
    width: 150px;
}

.form-grid {
    min-width: 500px;
    max-width: 700px;
}
